.App {
  margin: 0;
  padding: 0;
  font-family: "Oxygen", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("./assets/bg.jpg");
  overflow-x: hidden;
}

.nav {
  height: 12vh;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  box-shadow: 0 0.2px 10px rgb(0 0 0 / 0.2);
}
.nav ul,
li {
  padding: 0;
  margin: 0;
}

li {
  padding: 0;
  margin: 0;
}
.nav-links {
  display: flex;
  justify-content: space-around;
  gap: 5vh;
}
.nav-links li {
  list-style: none;
  font-weight: 700;
  padding: 2vh 4vh;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  border: 1px solid #5840ba;
}
.nav-links a{
  text-decoration: none;
  color:black ;
}

.nav-links li:hover {
  color: white;
  background-color: #5840ba;
  border-radius: 3vh;
  transition: all 0.3s ease 0s;
}
.nav-links li:hover a {
  color: white;
}

.logo-img img {
  width: 200px;
  cursor: pointer;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo {
  flex: 0 0 40%;
}

.photo img {
  width: 100%;
  height: auto;
  display: block;
}

.text-container {
  flex: 0 0 60%;
  text-align: left;
}

.text-container p {
  font-size: 80px;
  font-weight: bold;
  margin: 0;
}
.text-container input {
  font-size: 30px;
  margin: 0;
  border: none;
}
.text-container input:focus {
  outline: none;
}
.typed {
  font-size: 30px;
  color: grey;
}

.highlighted {
  color: #5840ba;
  font-weight: bold;
}

.services-ticker-block {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.details {
  height: 10vh;
  background-color: #a4db74;
  display: flex;
  align-items: center;
}
.stb_line_single {
  position: relative;
  white-space: nowrap;
  padding: 0;
  will-change: transform;
  display: flex;
  flex-direction: row;
}
.stb-item {
  padding: 0;
  font-size: 25px;
  display: inline-block;
  color: black;
  font-weight: 500;
  text-decoration: none;
  width: 200px;
  white-space: nowrap;
}
.stb-item:hover {
  color: #5840ba;
}
.heading {
  height: fit-content;
  position: relative;
}

.heading-work {
  padding-top: 8%;
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
}
.purple {
  background-color: #5840ba;
  color: white;
}

.white {
  color: black;
}

.heading-work h1 {
  font-size: 7vh;
  margin-left: 5vw;
}

.transparent {
  position: absolute;
  top: 10%;
  left: 10%;
  font-size: 15vh;
}

.trans-purple {
  color: rgba(255, 255, 255, 0.05);
}

.trans-white {
  color: rgba(55, 55, 55, 0.05);
}

.highlight-purple {
  color: #a4db74;
}
.highlight-white {
  color: #5840ba;
}

.card {
  top: 25%;
  width: 80%;
  margin: 4vh auto;
}
.ux-card {
  top: 25%;
  width: 45%;
  margin: 4vh auto;
  display: flex;
}
.ux-section{
  background-color: #5840ba;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 10vh;
}
.ux-card-box {
  background-color: #705bc4;
  border-radius: 1.5rem;
  display: flex;
  gap: 0;
  box-shadow: 0 1px 10px rgba(34, 1, 96, 0.301);
}

.card-box {
  background-color: #705bc4;
  border-radius: 1.5rem;
  display: flex;
  gap: 2rem;
  box-shadow: 0 1px 10px rgba(34, 1, 96, 0.301);
}

.work-img,.ux-work-img {
  flex: 1;
  max-width: 50%;
}

.work-img img,.ux-work-img img{
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
}

.work-desc {
  color: white;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.ux-work-desc {
  color: white;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.ux-work-desc h1{
  font-size: x-large;
}

.work-tech-stack {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
}

.work-tech-stack div {
  background-color: #a4db74;
  padding: 0.4rem 1rem;
  border-radius: 1rem;
  color: black;
  font-weight: 700;
  font-size: 0.9rem;
}
.work-details {
  text-align: justify;
}

.work-details ul {
  padding-left: 1rem;
  margin-top: 0.5rem;
}

.work-details ul li {
  margin-bottom: 0.5rem;
  color: #e2dafd;
}
.work-section {
  background-color: #5840ba;
  display: flex;
  flex-direction: column;
}

.button-container {
  width: fit-content;
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 25px;
}

.work-links {
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 20px;
}

.arrow-circle {
  margin: 5px;
  background-color: #5840ba;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  padding: 4px;
}

.view-details:hover {
  transform: scale(1.05);
}

.arrow {
  color: white;
  font-size: 20px;
  transform: rotate(330deg);
}

.view-details {
  display: flex;
  color: black;
  justify-content: center;
  align-items: center;
  background-color: #a4db74;
  padding: 0 20px;
  border-radius: inherit;
  height: 100%;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
  box-shadow: 0 1px 10px rgba(34, 1, 96, 0.301);
}

.project-section {
  background-color: #5840ba;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 100px;
  flex-wrap: wrap;
  padding: 50px;
}
.project-desc {
  padding: 10px 20px;
}

.project-card {
  top: 25%;
}
.project-box {
  background-color: #705bc4;
  border-top-left-radius: 150px;
  border-top-right-radius: 150px;
  display: flex;
  flex-direction: column;
  width: 350px;
  height: max-content;
  padding-bottom: 20px;
}
.project-img {
  flex: 1;
}

.project-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-top-left-radius: 150px;
  border-top-right-radius: 150px;
}
.project-details {
  padding: 0 1vw;
  color: white;
  text-align: justify;
}

.work-details ul li {
  margin-bottom: 0.5rem;
  color: #e2dafd;
}
.section-about-me {
  display: flex;
  align-items: center;
  justify-content: center;
}
.box-about-me {
  width: 70%;
  display: flex;
  align-items: center;
  gap: 5vw;
  justify-content: center;
}
.about-me_details {
  width: 60%;
  text-align: justify;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.about-me {
  position: relative;
  width: 350px;
  height: 350px;
  background-color: #5840ba;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
}
.about-me_name {
  position: absolute;
  left: 0;
  top: 100%;
  transform: translateY(-50%) rotate(-90deg);
  transform-origin: left top;
  font-size: 30px;
  letter-spacing: 2px;
  font-weight: bold;
}
.cursive {
  font-family: "Courgette", cursive;
  color: #5840ba;
  font-size: larger;
}
.about-me_experience {
  margin-left: 10vh;
  text-align: right;
  position: relative;
  display: flex;
  flex-direction: column;
}
.about-me_experience_number {
  font-size: 250px;
  font-weight: bold;
  line-height: 0.9;
}
.about-me_experience_text {
  font-size: 20px;
  margin-top: 10px;
}
.about-me-button-container {
  width: fit-content;
  display: flex;
  align-items: center;
  background-color: rgb(58, 58, 58);
  border-radius: 25px;
}
.about-me-arrow-circle {
  margin: 5px;
  background-color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  padding: 4px;
}
.about-me-arrow {
  color: rgb(58, 58, 58);
  font-size: 20px;
  transform: rotate(330deg);
}
.about-me-view-details {
  display: flex;
  color: black;
  justify-content: center;
  align-items: center;
  background-color: #a4db74;
  padding: 0 20px;
  border-radius: inherit;
  height: 100%;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
  box-shadow: 0 1px 10px rgba(34, 1, 96, 0.301);
}

.about-me-view-details:hover {
  transform: scale(1.05);
}
.footer {
  background-color: #5840ba;
}
.footer-contact {
  width: 100vw;

  display: flex;
  align-items: center;
  justify-content: space-around;
}
.footer-contact img {
  width: 200px;
}
.footer-left {
  width: 40vw;
  display: flex;
  flex-direction: column;
  text-align: justify;
  color: white;
}
.footer-right {
  width: 20vw;
  display: flex;
  flex-direction: column;
  gap: 1vh;
  text-align: justify;
  color: white;
}
.footer-right img {
  width: 30px;
}
.footer-right div {
  display: flex;
  align-items: center;
  gap: 1vw;
}
.footer-contact a {
  text-decoration: none;
  color: white;
  padding: 5px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.3s ease-in-out;
}
.footer-contact a:hover {
  border-bottom: 1px solid #a4db74;
}
.footer-bg img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.web {
  display: block;
}
.mobile {
  display: none;
}
.footer-copyright {
  background-color: #a4db74;
  display: flex;
  justify-content: space-around;
  font-weight: bold;
  padding: 0 4vh;
}
.footer-copyright a {
  margin-left: 5px;
  text-decoration: none;
  color: #5840ba;
}
.heart {
  color: red;
  font-size: large;
}
.timeline {
  padding: 50px 20px;
  margin: 0 auto;
  max-width: 1000px;
  color: #5840ba;
}

.timeline ol {
  position: relative;
  list-style: none;
}

.timeline ol::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  background: #705bc4;
}

.timeline ol li .item-inner {
  background-color: #e8e8e8;
  border-radius: 20px;
  padding: 20px 140px;
  margin-bottom: 8vh;
}

.timeline ol li .time-wrapper {
  position: relative;
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 0.9;
  text-align: left;
}

.timeline ol li .time-wrapper::before,
.timeline ol li .time-wrapper::after {
  content: "";
  position: absolute;
  background: #705bc4;
}

.timeline ol li .time-wrapper::before {
  top: 50%;
  left: -180px;
  transform: translateY(-50%);
  width: 0;
  height: 3px;
  transition: width 0.5s linear;
}

.timeline ol li .time-wrapper::after {
  top: calc(50% - 8px);
  left: -60px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  transform: scale(0);
  transform-origin: left center;
  transition: all 0.4s linear;
}

.timeline ol li time,
.timeline ol li .timeline-details > * {
  opacity: 0;
  transition: 0.5s;
  color: black;
  text-align: justify;
  line-height: 1.5;
}
.timeline-details b {
  margin: 0 5px;
}
.about-me_details b {
  margin: 0 5px;
}

.timeline ol li time {
  display: inline-block;
  transform: translateY(-30px);
  color: #5840ba;
}

.timeline ol li .timeline-details > * {
  transform: translateY(30px);
}

.timeline ol li .timeline-details h3 {
  font-size: 2rem;
  line-height: 1;
  margin: 15px 0;
}

/* ANIMATION STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ol li.in-view .time-wrapper::before {
  width: 120px;
}

.timeline ol li.in-view .time-wrapper::after {
  transition-delay: 0.5s;
  transform: scale(1.5);
}

.timeline ol li.in-view time,
.timeline ol li.in-view .timeline-details > * {
  opacity: 1;
  transform: none;
}

.timeline ol li.in-view time {
  transition-delay: 1s;
}

.timeline ol li.in-view .timeline-details h3 {
  transition-delay: 1.3s;
}

.timeline ol li.in-view .timeline-details p {
  transition-delay: 1.5s;
}
.project-box .work-links {
  justify-content: center;
}
@media (max-width: 1000px) {
  .timeline ol li .time-wrapper {
    font-size: 1.5rem;
  }
  .timeline ol li .timeline-details h3 {
    font-size: 1.2rem;
  }
  .footer-copyright {
    flex-direction: column;
  }
  .footer-contact {
    flex-direction: column;
  }
  .footer-left {
    width: 80%;
  }
  .footer-right {
    width: 80%;
    gap: 1vh;
  }
  .web {
    display: none;
  }
  .mobile {
    display: block;
  }
  .heading-work h1 {
    font-size: 5vh;
    margin-left: 5vw;
    padding-top: 2vh;
  }

  .transparent {
    position: absolute;
    top: 5%;
    left: 12%;
    font-size: 10vh;
  }
  .box-about-me {
    flex-direction: column;
  }
  .box-about-me {
    width: 80%;
  }
  .about-me_details {
    width: 100%;
    gap: 0px;
  }
  .cursive {
    display: block;
  }
  .card-box {
    flex-direction: column;
  }
  .ux-section {
    flex-direction: column;
  }
  .ux-card {
    width: 80%;
  }
  .ux-work-img img{
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    border-top-right-radius: 0rem;
  }
  .work-img {
    max-width: 100%;
  }
  .work-img img {
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 0rem;
    border-top-right-radius: 1.5rem;
  }
  .work-details h1 {
    font-size: x-large;
  }

  .details {
    height: 8vh;
  }
  .stb-item {
    font-size: 18px;
    width: 120px;
  }

  .text-container p {
    font-size: 40px;
    font-weight: bold;
    margin: 0;
  }
  .text-container input {
    font-size: 20px;
  }
  .nav {
    height: auto;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .nav-links {
    justify-content: center;
    align-items: center;
    gap: 3vh;
  }
  .nav-links li {
    padding: 2vh 3vh;
    margin-bottom: 10px;
  }
  .logo-img img {
    width: 200px;
    cursor: pointer;
  }
}

@media (max-width: 700px) {
  .timeline ol li .item-inner {
    padding: 20px 40px;
  }

  .timeline ol li .time-wrapper::before {
    left: -160px;
  }
  .timeline ol li .time-wrapper::after {
    left: -45px;
    transform-origin: center;
  }

  .timeline ol li.in-view .time-wrapper::after {
    transition-delay: 0s;
  }

  .timeline ol li.in-view time {
    transition-delay: 0.5s;
  }

  .timeline ol li.in-view .timeline-details h3 {
    transition-delay: 0.7s;
  }

  .timeline ol li.in-view .timeline-details p {
    transition-delay: 0.9s;
  }
  .text-container p {
    font-size: 40px;
    font-weight: bold;
    margin: 0;
  }
  .banner {
    margin-top: 50px;
    flex-direction: column-reverse;
  }
  .text-container input {
    font-size: 20px;
  }
  .photo img {
    margin-top: 20px;
    width: 70%;
  }
  .nav {
    height: auto;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .nav-links {
    justify-content: center;
    align-items: center;
    gap: 3vh;
  }
  .nav-links li {
    padding: 1vh;
    margin-bottom: 10px;
  }
  .logo-img img {
    width: 200px;
    cursor: pointer;
  }
  .timeline ul,li{
    padding: 0;
    margin: 0;
  }
  .details {
    height: 5vh;
  }
  .stb-item {
    font-size: 12px;
    width: 80px;
  }
}
@media (max-width: 500px) {
  .nav-links li {
    font-size: small;
  }
  .text-container p {
    font-size: 30px;
  }
  .card {
    width: 90%;
  }
  .nav-links {
    gap: 2vh;
  }
}
